.container {
	margin-bottom: 20px;
}

#homelink {
	color: #333;
	text-decoration: none;
}

#greeting {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 4px;
}

#greeting p {
	display: table-cell;
	width: 80%;
	vertical-align: middle;
}

#logout {
	display: table-cell;
	float: right;
}

#chatbox {
	height: 300px;
	margin: 0 0 20px 0;
	border-top: solid 1px #999;
	overflow-y: scroll;
}

.msgcontainer {
	margin: auto;
	display: table;
	width: 100%;
}

.userbox {
	/*background-color: red;*/
}

.msgbox {
	display: table-cell;
	table-layout: fixed;
	min-height: 76px;
}

.serverbox {
	min-height: 40px;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.serverln {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.msgln {
	vertical-align: middle;
	height: 30px;
	text-align: left;
}

.timestamp {
	text-align: right;
	color: gray;
}

#typing {
	border-bottom: solid 1px #999;
	vertical-align: middle;
}

.math-row {
	height: 120px;
}

.math-btn {
	height: 100%;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: center;
	vertical-align: middle;
}

.btn-theme {
	color: #f5f5f5;
}

.math-btn * {
	text-align: center;
	vertical-align: middle;
}

.invisible {
	height: 20px;
	visibility: hidden;
}