doctype html
html
    head
        title= "MathChat"
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css')
        link(rel='stylesheet' href='/css/style.css')
        script(src='/socket.io/socket.io.js')
        script(src='//code.jquery.com/jquery-1.11.2.min.js')
        script(src='//code.jquery.com/jquery-migrate-1.2.1.min.js')
        script(type='text/x-mathjax-config') MathJax.Hub.Config({ extensions: ["tex2jax.js"], jax: ["input/TeX", "output/HTML-CSS"], tex2jax: { inlineMath: [ ['$','$'], ["\\(","\\)"] ], displayMath: [ ['$$','$$'], ["\\[","\\]"] ], processEscapes: true}, "HTML-CSS": { availableFonts: ["TeX"] }});
        script(src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML')
        script(src='/chat.js')
    body
        .container
            .page-header
                h1
                    a#homelink(href='/') M$\alpha$thChat
            #chatroom
                .row
                    .col-md-6
                        .row
                            .col-md-12
                                #greeting
                                    p You are currently logged in as 
                                    button#logout.btn.btn-default(type='button') Logout
                                #chatbox
                                #typing
                                    span
                                        p  is typing...
                        .row
                            .col-md-12
                                .controls.input-group(style='margin-top: 10px')
                                    textarea#field.form-control(style='height: 60px')
                                    span.input-group-btn
                                        button#send.btn.btn-default(type='button', style='height:60px; width:60px') Send
                    .col-md-6
                        h3 Common Math Stuff ^_^
                        #mathbox
                            .row
                                #integral.btn.btn-default.col-md-4.math-btn(type='button' value='$\\int_{0}^{\\infty}f(x) dx$') $\int_{0}^{\infty}f(x) dx$
                                    //- span $$\int_{a}^{b}f(x)$$
                                #summation.btn.btn-default.col-md-4.math-btn(type='button' value='$\\sum_{i=1}^{n}$') $\sum_{i=1}^{n}$
                                    //- span $$\sum_{i=1}^{n}$$
                                #fraction.btn.btn-default.col-md-4.math-btn(type='button' value='$\\frac{a}{b}$') $\frac{a}{b}$
                                    span 
                            .row
                                #matrix.btn.btn-default.col-md-4.math-btn(type='button' value='\\[ \\left( \\begin{array}{ccc}a & b & c \\\\d & e & f \\\\g & h & i \\end{array} \\right)\\]') \[ \left( \begin{array}{ccc}a & b & c \\d & e & f \\g & h & i \end{array} \right)\]
                                #sin.btn.btn-default.col-md-4.math-btn(type='button' value='$\\sin ^2 \\theta + \\cos ^2 \\theta = 1$') $\sin ^2 \theta + \cos ^2 \theta = 1$
                                #limit.btn.btn-default.col-md-4.math-btn(type='button' value='$\\lim_{x \\to \\infty}f(x)$') $\lim_{x \to \infty}f(x)$
                            .row
                                #polynomial.btn.btn-default.col-md-8.math-btn(type='button' value='$a_n x^n + a_{n-1} x^{n-1} + \\dots + a_1 x_1 + a_0$') $a_n x^n + a_{n-1} x^{n-1} + \dots + a_1 x_1 + a_0$
                                #equation-array.btn.btn-default.col-md-4.math-btn(type='button' value='$|a+b| \\leq |a| + |b|$') $|a+b| \leq |a| + |b|$
                            .row
                                .col-md-4
                                .col-md-4
                                .col-md-4

                
                    //- .col-md-6
                    //-     h3 Preview
                    //-     #preview