doctype html
html
    include ./head.jade
    body
        .container
            .page-header
                h1
                    a#homelink(href='/') M$\alpha$thChat
            #welcome.jumbotron
                h1 Welcome to M$\alpha$thChat.
                p Please enter your name to continue:
                #loginform.input-group
                    input#name.form-control(type='text', name='name')
                    span.input-group-btn
                        input#enter.btn.btn-default(type='button', name='enter' value='Enter')